<% layout('layouts/boilerplate') -%>

<div class="container cards-center">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col">
      <a href="/student" class="text-decoration-none">
        <div class="card h-100">
          <img src="https://images.pexels.com/photos/460376/pexels-photo-460376.jpeg" style="height: 20rem;" class="card-img-top" alt="Student Details">
          <div class="card-body">
            <h5 class="card-title">Student Details</h5>
            <p class="card-text">Registered students & transport information.</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="/" class="text-decoration-none">
        <div class="card">
          <img src="https://images.pexels.com/photos/731082/pexels-photo-731082.jpeg" style="height: 20rem;" class="card-img-top" alt="Seat Allocation">
          <div class="card-body">
            <h5 class="card-title">Seat Allocation</h5>
            <p class="card-text">View bus seat numbers reserved for students.</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="/" class="text-decoration-none">
        <div class="card h-100">
          <img src="https://images.pexels.com/photos/977317/pexels-photo-977317.jpeg" style="height: 20rem;" class="card-img-top" alt="Driver Panel">
          <div class="card-body">
            <h5 class="card-title">Driver Panel</h5>
            <p class="card-text">Access driver info and daily logs.</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>